@page "{id:int}"
@model CoreWebApplication1.Pages.Restaurants.DetailModel
@{
}

<h1>Detail</h1>
<h5>@Model.Restaurant.Name</h5>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-danger">@Model.Message</div>
}
<div>
    @Model.Restaurant.Id
</div>
<div>
    @Model.Restaurant.CType
</div>
<div>
    <a class="btn btn-dark" asp-page="./List">Back to List</a>
    <a class="btn btn-primary" asp-page="./edit">Add New</a>
</div>
